extends layout

block content
    h1 Home
    h5(id="username")
    div(id="links", class="card-panel #dcedc8 light-green lighten-4")
    div(id="message", class="card-panel #dcedc8 light-green lighten-4")
    script(src="/javascripts/home.js")

    div()