extends layout

block content
    h1 Login
    div(id="error")
    form(action="" method="POST" id="login-form")
        label(for="email") Email
        input(type="email" name="email" id="email" required)
        label(for="password") Password
        input(type="password" name="password" id="password" required)
        input(class="btn waves-effect #33691e light-green darken-4" type="submit" value="Login" id="submit")
    script(src="/javascripts/login.js") 
