//menu bar
nav
    div(class = "nav-wrapper #8bc34a light-green")
        ul(id="nav-mobile", class="left")
            li: a(href="/" id="home") Home
            li(id="registerLinkBase"): a(href="/register.html", id="registerLink") Register
            li(id="loginLinkBase"): a(href="/login.html", id="loginLink") Login
            li(id="createLinkBase"): a(href="/message", id="createLink") Create question
            li(id="logoutBase"): a(href="/", id="logoutLink") Logout
script(src="/javascripts/menu.js") 